<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="page-header">
                  <h1>博客列表 <small></small></h1>
                </div>
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                <a class="btn btn-danger" href="{% url "student_add" %}" role="button">添加</a>
                <p></p>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="danger">
                        <th>序号</th>
                        <th>用户名</th>
                        <th>文章标题</th>
                        <th>文章内容</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for one in all %}
                        <tr>
                            <td>{{ one.id }}</td>
                            <td>{{ one. }}</td>
                            <td>{{ student.get_sex_display }}</td>
                            <td>{{ student.birthday|date:"Y-m-d"}}</td>

                            <td>
                                <span><a href="{% url "student_edit" student.pk %}">编辑</a></span>
                                |
                                <span><a style="color:red;" href="{% url "student_delete" student.pk %}">删除</a></span>
                            </td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>